#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000; /* Ensures the overlay is above the Three.js scene */
}

video {
    max-width: 80%;
    max-height: 80%;
}

.coin-display {
    font-size: 20px;
    font-weight: bold;
    color: gold;
    text-align: center;
}
